/* TwistAccordion.css */
.accordion-section {
    padding: 10px;
    margin-top: 10px !important;
    /* width: 100%; */
  }
  .accordion-main-wrapper{
    background-color: #D0F4F7;
    max-width: 1200px;
    border-radius: 8px;
    margin: auto;
  }
  .content {
    margin-top: 5px;
  }
  
  .open.arrow {
    transform: rotate(180deg);
  }
  
  .arrow {
    transition: transform 0.3s ease-in-out;
  }
  
.accordion-btn{
  width: 100%;
  padding: 0;
  background-color: transparent;
  width: 100%;
    padding: 25px;
    background-color: #D0F4F7;
    border: none;
    outline: none !important;
}

  .accordion-title-shower-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    padding-left: 50px;
  }
.accordion-title{
  font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 138% */
    display: flex;
    align-items: center;
}
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .arrow.up{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .arrow.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .treatments-wrapper{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px 0 75px;
    flex-wrap: wrap;
  }

/* target small screen */
@media (max-width: 768px) {
  .treatments-wrapper{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: unset;
    flex-wrap: wrap;
  }

  .accordion-inner-wrapper{
    min-width: 500px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   }
}

 .accordion-inner-wrapper{
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
 }

  .accordion-item-price .price-tag {
    color: #32C0CC !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}

.checkbox-title{
  display: flex;
  align-items: center;
  gap: 5px;
}

/* acc checkbox style */
input.accordion-checkbox-details{
   box-sizing: border-box;
   background-color: #32C0CC;
    border: 1px solid rgba(192, 196, 204, 0.47);
}

input.accordion-checkbox-details {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid rgba(192, 196, 204, 0.47);
  width: 20px;
  height: 20px;
  position: relative;
  background-color: white;
}

input.accordion-checkbox-details::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  background-color: #32C0CC;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

/* for radio */
input.accordion-checkbox-details.iv-therapy-checkbox {
  appearance: none;
  box-sizing: border-box;
  border: 1px solid rgba(192, 196, 204, 0.47);
  width: 20px;
  border-radius: 10px;
  height: 20px;
  position: relative;
  background-color: white;
}

input.accordion-checkbox-details.iv-therapy-checkbox::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  background-color: #32C0CC;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

input.accordion-checkbox-details:checked::before {
  opacity: 1;
}