#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: inter;
}

@media screen and (max-width: 768px) {

  .product-description .responsiveGrid,
  .responsiveGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .react-datepicker-popper {
    left: 0;
  }
}

.react-datepicker-wrapper {
  width: 100% !important;
}

.react-datepicker-wrapper .react-datepicker__input-container input {
  padding-left: 45px !important;
}

@media screen and (min-width: 768px) {
  .react-datepicker-popper {
    left: 190px !important;
  }
}

.css-1xc3v61-indicatorContainer svg {
  right: -170px !important;
}

@media screen and (min-width: 768px) {
  .react-datepicker-wrapper .react-datepicker__input-container:after {
    right: 20px !important;
  }
}

@media screen and (max-width: 768px) {
  /* .react-datepicker-wrapper .react-datepicker__input-container:after {
    right: -487px !important;
  } */

  .css-1xc3v61-indicatorContainer svg {
    right: 37px !important;
  }
}

.react-datepicker-popper .react-datepicker .react-datepicker__header select {
  padding: 0 20px !important;
  min-width: 100px !important;
}

.react-datepicker-popper .react-datepicker .react-datepicker__header button:after {
  border: none !important;
}

@media screen and (max-width: 390px) {
  .time-picker-select svg {
    right: 60px !important;
  }
}

.all-wrapper {
  padding: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/* botox styles */

.single-product-page-product-hero-main-wrapper section.beauty_description_decolletage {
  padding-top: 64px !important;
  position: relative !important;
  z-index: 2 !important;
}

section.decolletage_wrapper_header .botox-page-title {
  margin: auto !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 48px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: #282D41 !important;
}

section.decolletage_wrapper_header .botox-page-title-description {
  /* This months special offer per side */
  max-width: 513px !important;
  margin: auto !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: #282D41 !important;
  padding-top: 22px !important;
  padding-bottom: 4px !important;
}

section.decolletage_wrapper_header .botox-page-description-content {
  /* Select areas you want */
  max-width: 334px !important;
  margin: auto !important;
  font-family: 'Inter' !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 32px !important;
  line-height: 120% !important;
  text-align: center !important;
  color: #32C0CC !important;
}

section.product-hero-wrapper.hero-decolattege {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: -125px !important;
  position: relative !important;
  z-index: 1 !important;
}

.product-image.decolattege-image {
  position: relative !important;
}

.product-image.decolattege-image {
  margin-bottom: -6px !important;
}

/* face-buttons-wrapper */
.face-buttons-wrapper {
  /* background-color: rgba(135, 207, 235, 0.418); */
  position: absolute;
  inset: 0;
  /* top: 305px; */
  top: 39.5%;
}

/* eye-brow */
section.eye-brow-button-wrapper input.eye-brow-button {
  background: skyblue;
  position: relative;
  left: 6.09%;
  top: 10px;
}

/* crow's feet */
section.crow-feet-button-wrapper input.crow-feet-button {
  background: skyblue;
  position: relative;
  right: 6.9%;
  top: 25px;
}


/* lip top */
section.lip-top-button-wrapper input.lip-top-button {
  background: rgb(9, 174, 240);
  position: relative;
  top: 75px;
}

/* gummy smile */
section.gummy-smile-button-wrapper input.gummy-smile-button {
  background: rgb(150, 127, 93);
  position: relative;
  top: 65px;
}

/* orange peel chin */
section.orange-peel-chin-button-wrapper input.orange-peel-chin-button {
  background: rgb(136, 255, 0);
  position: relative;
  top: 78px;
}

/* neck bands */
section.neck-bands-button-wrapper input.neck-bands-button {
  background: rgb(0, 110, 255);
  position: relative;
  top: 120px;
}

.face-circle-buttons:hover {
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
  animation: pulsate 1s infinite;
}

.face-circle-buttons:active {
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.5);
  /* White glow effect on click */
  animation: pulsate 1s infinite;
}

.face-circle-buttons {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ff7b00;
  border-radius: 50%;
  transition: box-shadow 0.3s ease-in-out;
  outline: none;
  border: none;
  cursor: pointer;
}



/* fore-head */
.forehead-button {
  background-color: rgb(14, 60, 90) !important;
  position: relative;
}


/* fore head checkbox customization */

.botox-check-box-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botox-check-box-button {
  appearance: none !important;
  /* width: 30px; */
  /* height: 30px; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.botox-check-box-button:checked::before {
  content: 'X';
  color: rgb(0, 0, 0);
  font-weight: bold;
  position: relative;
  top: -2px;
  left: -2px;
}


/* end of fore head checkbox customization */

/* Define the pulsating animation */
@keyframes pulsate {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}


/* tablet size 1920*/
@media screen and (max-width: 1920px) {
  section.decolletage_wrapper_header .botox-page-title {
    font-size: 3.5rem;
  }
}


/* 768 */
@media screen and (max-width: 768px) {

  /* title text styles decolattex */
  section.decolletage_wrapper_header .botox-page-title {
    margin: auto !important;
    font-family: 'Inter' !important;
    font-weight: 600 !important;
    font-size: 28px !important;
  }

  section.decolletage_wrapper_header .botox-page-title-description {
    font-size: 16px !important;
    padding-top: 12px !important;
  }

  section.decolletage_wrapper_header .botox-page-description-content {
    font-size: 16px !important;
  }

  section.product-hero-wrapper.hero-decolattege {
    margin-top: -25px !important;
  }

  /* crow's feet */
  section.crow-feet-button-wrapper input.crow-feet-button {
    top: -25px;
  }

  /* eyebrow button */
  section.eye-brow-button-wrapper input.eye-brow-button {
    top: -22px;
  }

  /* lip top */
  section.lip-top-button-wrapper input.lip-top-button {
    top: -15px;
    width: 20px;
    height: 15px;
  }

  /* gummy smile */
  section.gummy-smile-button-wrapper input.gummy-smile-button {
    top: -63px;
    width: 20px;
  }

  /* orange peel chin */
  section.orange-peel-chin-button-wrapper input.orange-peel-chin-button {
    top: -80px;
    width: 20px;
  }

  /* neck bands */
  section.neck-bands-button-wrapper input.neck-bands-button {
    top: -88px;
    width: 20px;
    height: 20px;
  }

}

/* small 500 */
@media screen and (max-width: 500px) {
  .face-buttons-wrapper {
    top: 35% !important;
  }

  /* eyebrow button */
  section.eye-brow-button-wrapper input.eye-brow-button {
    background: skyblue;
    position: relative;
    left: 6.09%;
    top: -.8rem;
  }

  /* crow's feet */
  section.crow-feet-button-wrapper input.crow-feet-button {
    position: relative;
    right: 6.9%;
    top: -18px;
  }

}

/* small 4150 */
@media screen and (max-width: 415px) {

  /* crow's feet */
  section.crow-feet-button-wrapper input.crow-feet-button {
    top: -26 px;
  }
}

/* small screen 768 */
@media screen and (max-width: 320px) {
  .face-buttons-wrapper {
    top: 30% !important;
  }

  section.eye-brow-button-wrapper input.eye-brow-button {
    top: -16px;
  }

  /* crow's feet */
  section.crow-feet-button-wrapper input.crow-feet-button {
    position: relative;
    right: 6.9%;
    top: -34px;
  }

  /* lip top */
  section.lip-top-button-wrapper input.lip-top-button {
    background: rgb(9, 174, 240);
    position: relative;
    /* left: 6.09%; */
    top: -43px;
  }

  .face-circle-buttons {
    /* make the size very small */
    width: 10px;
    height: 10px;
    transform: scale(0.5);
  }

}