#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
  font-family: inter;
}

@media screen and (max-width: 768px) {

  .product-description .responsiveGrid,
  .responsiveGrid {
    grid-template-columns: repeat(1, 1fr);
  }

  .react-datepicker-popper {
    left: 0;
  }
  
}
.react-datepicker-wrapper .react-datepicker__input-container input {
  padding-left: 65px !important;
}


@media screen and (min-width: 768px) {
  .react-datepicker-popper {
    left: 190px !important;
  }

  .react-datepicker-wrapper .react-datepicker__input-container:after {
    right: -487px !important;
  }
}
.react-datepicker-popper .react-datepicker .react-datepicker__header select{
  padding: 0 20px !important;
}
.react-datepicker-popper .react-datepicker .react-datepicker__header button:after{
  border: none !important;
}

@media screen and (max-width: 390px){ 
  .time-picker-select svg{
    right: 60px !important;
}

}


.all-wrapper {
  padding: 10px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}