.selection-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.choose-radio-wrapper {
  background-color: #fff !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px;
  gap: 10px;
  max-width: 521px;
  width: 100%;
  height: 44px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  outline: none;
}

.location-where {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #5a5f73;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.location-span {
  color: #f6d66f;
}

.where-span {
  display: flex;
  align-items: center;
  gap: 5px;
  gap: 5;
}

.location-radios,
.provider-input {
  padding: 0 !important;
  appearance: none;
  box-sizing: border-box;
  border: 1px solid rgba(192, 196, 204, 0.47);
  width: 20px;
  border-radius: 10px;
  height: 20px;
  position: relative;
  background-color: white;
}

.location-radios::before,
.provider-input::before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  background-color: #32c0cc;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.location-radios:checked::before,
.provider-input:checked::before {
  opacity: 1;
}

.select-clinic-wrapper {
  position: relative;
  display: block;
}

.select-location-dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px 9px 30px !important;
  gap: 10px;
  margin-top: 32px !important;
  max-width: 1072px !important;
  width: 100% !important;
  height: 44px;
  border: 1px solid rgba(192, 196, 204, 0.47);
  background-color: #fff !important;
  border-radius: 4px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.address-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
  margin-top: 25px;
}

.drop-down-icon {
  font-size: 16px;
  position: absolute;
  right: 90px;
  top: 12px;
  display: none !important;
}

/* target large screen */
@media screen and (max-width: 1200px) {
  .drop-down-icon {
    right: 10px;
  }
}

@media (max-width: 1160px) {
  .bookingDateTime-container-wrapper {
    gap: 32px;
  }
}

/* target small screen */
@media (max-width: 900px) {
  .address-wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 32px;
  }

  .address_wrapper {
    width: 100% !important;
  }

  .cityStateZip {
    width: 100%;
  }

  .selection_wrapper {
    width: 100%;
  }

  .select-location-dropdown {
    background-color: #fff !important;
    padding: 9px 27px;
    width: 350px !important;
    margin: auto;
  }

  #clinic-location-dropdown {
    width: 100% !important;
  }

  .choose-radio-wrapper {
    padding: 9px 12px;
  }
}

@media (max-width: 815px) {
  .selection-wrapper {
    gap: 32px;
  }
}

.select-clinic-wrapper {
  position: relative;
}

.location-icon {
  position: absolute;
  top: 0;
  left: 0;
  top: 5px;
}

.drop-down-icon {
  right: 10px;
}

.autocomplete-dropdown-container {
  position: absolute !important;
  z-index: 10;
  /* width: 53px; */
}

@media screen and (max-width: 767px) {
  .drop-down-icon {
    right: 10px;
  }

  .autocomplete-dropdown-container {
    width: 86% !important;
  }

  /* target children of autocomplete-dropdown-container */
  .autocomplete-dropdown-container>div {
    height: fit-content !important;
  }
}

.location-search-input,
.location-search-input:focus,
.location-search-input:active {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border: honeydew;
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
}