/* DatePicker styling */
.date-picker {
  box-sizing: border-box;
  display: flex;
  font-size: 16px !important;
  font-family: 'Inter', sans-serif !important;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px 9px 0 !important;
  gap: 10px;
  width: 100% !important;
  height: 44px !important;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  outline: none;
  background-color: #ffffff !important;
  color: #333 !important;
}

.pointer-date-picker {
  cursor: pointer;
}

.disabled-date-picker {
  /* pointer-events: none; */
  cursor: not-allowed;
}


.date-picker:hover {
  border-color: #32c0cc;
  color: #32c0cc;
  box-shadow: 0 0 5px rgba(63, 196, 208, 0.5);
}

.date-picker:focus {
  border-color: #32c0cc;
  box-shadow: 0 0 5px rgba(63, 196, 208, 0.5);
  outline: none;
}

.date-picker-container {
  position: relative;
  display: flex;
}

.react-datepicker__header {
  background: transparent;
  border: none;
  padding: 10px;
}

.calendar-icon {
  position: absolute;
  color: #32c0cc;
  z-index: 10;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.2rem;
  background: transparent;
  border: none;
}

.custom-header button {
  background: none;
  border: none;
  margin: 0 0.5rem;
  cursor: pointer;
  color: #32c0cc;
}

.custom-header select {
  background: rgb(241, 241, 241);
  border-radius: 0.2rem;
  border: 1px solid rgb(185, 185, 185);
  font-size: 1rem;
  color: #32c0cc;
  padding: 0.1rem;

  &:active {
    outline: none;
  }
}

.custom-calendar .react-datepicker__day-name,
.custom-calendar .react-datepicker__day,
.custom-calendar .react-datepicker__time-name {
  width: calc(100% / 9);
  display: inline-block;
  text-align: center;
  margin: 0 5px;
  padding: 3px 4px;
  box-sizing: border-box;
}

.react-datepicker__day {
  border-radius: 50%;

  &:hover {
    background-color: #c7f7fb;
    color: #333;
    border-radius: 50%;
  }
}

.react-datepicker__day--selected {
  background-color: #32c0cc;
  border-radius: 50%;
  padding: 0;
  color: #fff;

  &:hover {
    background-color: #c7f7fb;
    color: #333;
    border-radius: 50%;
  }
}

.custom-calendar .react-datepicker__day--outside-month {
  visibility: hidden;
}

/* TimePicker styling */
.time-picker {
  box-sizing: border-box !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: flex-start !important;
  font-family: 'Inter', sans-serif !important;
  font-size: 16px !important;
  padding: 9px 12px !important;
  gap: 10px;
  max-width: 522px !important;
  height: 44px !important;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  outline: none;
  background-color: #ffffff !important;
  color: #333 !important;
}

.time-picker:hover {
  border-color: #32c0cc;
  color: #32c0cc;
  box-shadow: 0 0 5px rgba(63, 196, 208, 0.5);
}

.time-picker-select {
  display: flex !important;
  align-items: center !important;
  text-align: left !important;
  padding: 7px 0 !important;
  width: 100% !important;
  margin: unset !important;
}

.clock-icon {
  position: absolute;
  color: #32c0cc;
  left: 18px;
  transform: translateY(-15%);
  font-size: 16px !important;
  z-index: 20;
  background: #fff;
}

.time-picker-checkbox {
  appearance: none !important;
  background-color: #fff;
  border: 1px solid #c6c6c6;
  padding: 7px !important;
  width: 8px !important;
  height: 8px !important;
  border-radius: 3px !important;
  margin-right: 5px !important;
  margin-top: 5px !important;
  display: inline-block !important;
  position: relative !important;
}

.time-picker-checkbox:checked {
  background-color: #fff !important;
  border: 1px solid #32c0cc !important;
}

.time-picker-checkbox:checked:after {
  content: '' !important;
  display: flex !important;
  width: 7px !important;
  height: 7px !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-color: #32c0cc !important;
  border: 1px solid #32c0cc !important;
}

.react-datepicker__input-container {
  width: unset !important;
  width: 100% !important;
}

.react-datepicker-popper .react-datepicker .react-datepicker__header button::after {
  display: none !important;
}

.react-datepicker__header.react-datepicker__header--custom .custom-header select:first-child {
  width: 100px !important;
}

@media screen and (max-width: 768px) {

  .date-picker,
  .react-datepicker__input-container {
    width: 100% !important;
  }
}

/* small screens */

@media (max-width: 900px) {
  .date-picker {
    max-width: 100% !important;
  }

  .time-picker-select,
  .time-picker {
    max-width: 100% !important;
  }

  .time-picker {
    padding: 9px 12px 9px 40px;
  }
}