/* 768 max-width */

body.single.single-product input {
  color: #282D41 !important;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper .tooltip-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  visibility: invisible;
  display:none;
  width: 100%;
  background-color: #282d41;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 60px;
  /* Position the tooltip above the select */
  left: 0;
  margin-left: -80px;
  opacity: 0;
  transition: opacity 0.3s;
}

@media (max-width: 768px) {

  .tooltip-wrapper .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #282d41 transparent transparent transparent;
  }

  .tooltip-wrapper:hover .tooltip-text {
  display:block;
    visibility: visible;
    opacity: 1;
  }
}



body.single.single-product {
  .label-input-wrapper:last-child {
    margin-bottom: unset !important;
  }
}


/* new components */
.location-search-input {
  box-shadow: none !important;
}

.card-holder-name .input-box-wrapper.the-product-page,
.card-holder-billing .input-box-wrapper.the-product-page {
  all: unset !important;
}

.card-holder-name-label,
.card-holder-billing-label {
  width: 100%;
  margin-left: auto;
}

div.holder-info .card-holder-name,
div.holder-info .card-holder-billing {
  max-width: 563px !important;
  width: 100%;
}

#credit-card-section .card-elements .holder-info input {
  font-size: 15px !important;
}

/* target place holder */
#credit-card-section .card-elements .holder-info input::placeholder {
  color: #C0C4CC !important;
}

.location-search-input.input-box::placeholder {
  color: #C0C4CC !important;
}

.card-holder-name-input.input-box::placeholder {
  color: #C0C4CC !important;
}

.card-holder-billing-address-input.zip-input.input-box::placeholder {
  color: #C0C4CC !important;
}

div.holder-info {
  display: flex;
  /* justify-content: space-between; */
  /* flex-wrap: wrap; */
  gap: 32px;
  width: 100%;
}

.user-input-wrapper {
  display: flex;
  gap: 20px !important;
  justify-content: flex-start;
}

.input-box-label {
  display: flex;
  white-space: nowrap;
  margin-bottom: 5px;
  gap: 3px;
}

.input-box-wrapper {
  max-width: 563.5px !important;
  width: 100%;
  position: relative;
}

.user-detail-main .single-page-user-info-wrapper .input-box-wrapper.birth-date-input-box.the-product-page {
  max-width: 522px !important;
}

.user-detail-main .single-page-user-info-wrapper .input-box-wrapper.the-product-page {
  max-width: unset !important;
}

.general-details-card-wrapper .choose_providers_wrapper.book_time_wrapper .input-box-wrapper {
  max-width: 522px !important;
  width: 100%;
}

.input-box-wrapper.birth-date-input-box {
  max-width: 522px !important;
}

.input-box-wrapper label::after {
  content: '*';
  display: flex;
  width: 10px;
  height: 10px;
  color: #32c0cc;
}

.input-box-error-message {
  text-align: left;
}

.input-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px;
  gap: 10px;
  height: 44px !important;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  outline: none;
  background-color: #ffffff !important;
  width: 100%;
}

.input-box.your_address_style {
  height: fit-content !important;
  text-align: left;
  width: 563px !important;
  height: 44px !important;
}

.zip-city-wrapper {
  margin-top: -10px;
  width: 100%;
  gap: 32px;
}

.cityStateZip .input-box {
  max-width: 365px !important;
  padding: 9px 12px;
}

.card-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 22px;
}

.card-number-input.StripeElement {
  padding: 9px !important;
}

.card-number {
  display: flex;
  flex-direction: column;
  /* width: 563.5px; */
  width: 100%;
  justify-content: space-between;
  height: 71px;
}

.card-number .StripeElement {
  max-width: 545px;
  height: 44px;
  padding: 9px 12px 9px 10px;
  margin: unset;
  outline: none;
  background-color: #ffffff !important;
  border: 1px solid rgba(192, 196, 204, 0.47)
}

.card-label {
  text-align: left;
  margin-bottom: 5px;
  color: #282d41;
  font-weight: 500;
  font-size: 14px;
}

.card-info {
  max-width: 563.5px;
  overflow: hidden;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.expiry-date,
.cvc {
  display: flex;
  flex-direction: column;
  width: 100% !important;
  height: 74px;
  max-width: 265px !important;
}

.expiry-date .StripeElement,
.cvc .StripeElement {
  /* height: 44px !important; */
  outline: none;
  padding: 9px !important;
  background-color: #ffffff !important;
  border: 1px solid rgba(192, 196, 204, 0.47);
}

#credit-card-section .card-elements .card-number .card-number-input>div {
  padding: 9px !important;
}

.input-box-label {
  text-align: left;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #282d41;
}

.label-input-wrapper {
  position: relative;
}

.select-location-dropdown {
  color: #000000 !important;
  white-space: nowrap;
  overflow: scroll;
  text-overflow: ellipsis;
}

.the-single-product-page.selection_wrapper {
  width: 100% !important;
}

#booking-location-main .the-single-product.selection_wrapper {
  width: 100% !important;
}

.card-holder-billing.zip-and-state {
  display: flex;
  gap: 30px;
}

div.top-level-addresses-wrapper {
  display: flex;
  width: 100%;
  gap: 20px;
}

.card-holder-billing.zip-and-state div.input-box-wrapper.the-product-page {
  width: 100% !important;
}

.card-number+.card-info {
  width: 100%;
  gap: 32px;
  justify-content: unset;
}

.card_number_expiry_wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
  font-size: 18px;
}

/* for card elements */
.ElementsApp,
.ElementsApp .InputElement {
  font-size: 15px !important;
}

@media (max-width: 1280px) {
  .input-box-wrapper {
    max-width: 522px !important;
    width: 100%;
  }
}

@media (max-width: 1220px) {

  .expiry-date,
  .cvc {
    width: 50%;
  }

  .card-info {
    max-width: unset;
  }
}

/* @media (max-width:1540px) {
  .input-box-wrapper {
    max-width: 563px !important;
    width: 100%;
  }
} */

.input-box-error-message {
  color: red;
  font-size: 13px !important;
  font-weight: 500;
  margin-bottom: 2px;
  position: absolute;
}

.error-clinic-selection {
  text-align: left;
}

.choose-tip-amount {
  text-align: left;
}

/* target small screen */
@media (max-width: 900px) {
  .user-input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center !important;
  }

  .input-box {
    padding: 9px 12px;
    width: 100% !important;
  }

  .input-box-wrapper {
    /* margin-top: 20px; */
    width: 100%;
  }

  input[type='text'] {
    max-width: unset !important;
    width: 100%;
  }

  .single-page-user-info-wrapper div {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
  }
}

.form-main-titles {
  margin-block: 16px;
}

@media (max-width: 643px) {

  div.top-level-addresses-wrapper {
    flex-wrap: wrap;
    gap: unset !important;
  }

  div.top-level-addresses-wrapper>div.address_wrapper {
    margin-bottom: 24px;
  }

  .card_number_expiry_wrapper {
    flex-wrap: wrap;
    margin-top: 24px;
  }

  .cityStateZip .input-box {
    max-width: unset;
  }

  div.holder-info.country_zip_parent {
    margin-top: 24px;
  }

  /* new components */

  div.holder-info .card-holder-name,
  div.holder-info .card-holder-billing {
    max-width: unset !important;
    width: 100%;
  }

  div.holder-info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: unset;
  }

  div.holder-info.holder_name_billing_parent,
  div.holder-info.country_zip_parent,
  .card_number_expiry_wrapper {
    gap: 24px;
    max-width: unset;
    margin: 9px auto;
  }

  .card-number-input.StripeElement {
    padding: 9px !important;
  }

  div.holder-info+div.card-number {
    margin-bottom: 20px;
  }

  .card-elements {
    gap: unset !important;
  }

  /* new components */

  .expiry-date,
  .cvc {
    width: 100%;
  }

  .card-number .StripeElement {
    padding: unset
  }

  .single-page-user-info-wrapper div:nth-child(1) {
    flex-direction: column !important;
  }
}

@media (max-width: 480px) {
  .zip-city-wrapper {
    flex-wrap: wrap;
  }

  .zip-city-wrapper .cityStateZip .input-box {
    max-width: unset !important;
  }
}

@media (max-width: 465px) {

  .selection-wrapper {
    max-width: 321px;
    width: 100%;
    margin: auto;
  }

  div.address div.StripeElement {
    max-width: 340px;
    margin: 0 auto;
  }

  div.the-single-product-page.selection-wrapper,
  div.provider-input-label-wrapper,
  .provider-group-wrapper,
  .card-number .StripeElement,
  .special-instructions-text-area,
  .text-area-label.in-product-page,
  .card-label.in-product-page {
    max-width: 321px;
    width: 100%;
    margin: auto;
  }


  .payment-cards-wrapper {
    width: 100%;
    margin: auto;
  }

  .card-info {
    margin: auto;
    width: 100%;
  }

  .provider-name-label {
    font-size: 15px;
  }
}

@media(max-width:400px) {
  div.card-elements div.card-info {
    height: unset;
  }

  .product-section-card-h1 {
    font-size: 24px !important
  }
}