.user-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
}

.input-box-label {
  display: flex;
  white-space: nowrap;
  gap: 3px;
}

.input-box-wrapper {
  max-width: 563.5px;
  width: 100%;
}

.input-box-wrapper.birth-date-input-box {
  max-width: 494px;
}

.input-box-wrapper label::after {
  content: '*';
  display: flex;
  width: 10px;
  height: 10px;
  color: #32c0cc;
}

.input-box-error-message {
  text-align: left;
}

.input-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 9px 12px;
  gap: 10px;
  height: 44px !important;
  border: 1px solid rgba(192, 196, 204, 0.47);
  border-radius: 4px;
  outline: none;
  background-color: #ffffff !important;
  width: 100%;
}

.input-box.your_address_style {
  height: fit-content !important;
  text-align: left;
  width: 563px !important;
  height: 44px !important;
}

.zip-city-wrapper {
  margin-top: -10px;
  width: 100%;
  gap: 32px;
  /* justify-content: space-between; */
}

.cityStateZip .input-box {
  max-width: 365px !important;
  padding: 9px 12px;
}

.card-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin-top: 22px;
}

.card-number {
  display: flex;
  flex-direction: column;
  width: 563.5px;
  height: 71px;
}

.card-number .StripeElement {
  max-width: 545px;
  height: 44px;
  padding: 9px 12px 9px 10px;
  margin: unset;
  outline: none;
  background-color: #ffffff !important;
}

.card-label {
  text-align: left;
  margin-bottom: 5px;
  color: #282d41;
}

.card-info {
  max-width: 563.5px;
  /* width: 100%; */
  overflow: hidden;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.expiry-date,
.cvc {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 71px;
}

.expiry-date .StripeElement,
.cvc .StripeElement {
  width: 100% !important;
  height: 44px !important;
  outline: none;
  padding: 9px !important;
  background-color: #ffffff !important;
}

/* small screen */

.input-box-label {
  text-align: left;
  min-width: 100px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #282d41;
}

.label-input-wrapper {
  position: relative;
}



.the-single-product-page.selection_wrapper {
  width: 100% !important;
}

@media (max-width: 1220px) {

  .expiry-date,
  .cvc {
    width: 50%;
  }

  .card-info {
    max-width: unset;
  }
}

@media (max-width:1540px) {
  .input-box-wrapper {
    max-width: 522px !important;
    width: 100%;
  }
}

.input-box-error-message {
  color: red;
  font-size: 13px !important;
  font-weight: 500;
  margin-bottom: 2px;
}

.error-clinic-selection {
  text-align: left;
}

.choose-tip-amount {
  text-align: left;
}

/* target small screen */
@media (max-width: 900px) {
  .user-input-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center !important;
  }

  .input-box {
    padding: 9px 12px;
    width: 100% !important;
  }

  .input-box-wrapper {
    /* margin-top: 20px; */
    width: 100%;
  }
}

.form-main-titles {
  margin-block: 16px;
}

@media (max-width: 643px) {

  .expiry-date,
  .cvc {
    width: 100%;
  }
}

@media (max-width: 465px) {

  .selection-wrapper {
    max-width: 321px;
    width: 100%;
    margin: auto;
  }

  div.address div.StripeElement {
    max-width: 340px;
    margin: 0 auto;
  }

  .user-input-wrapper,
  div.the-single-product-page.selection-wrapper,
  div.provider-input-label-wrapper,
  .provider-group-wrapper,
  .payment-cards-wrapper,
  .bookingDateTime-container-wrapper,
  .card-number .StripeElement,
  .special-instructions-text-area,
  .text-area-label.in-product-page,
  .card-label.in-product-page {
    max-width: 321px;
    width: 100%;
    margin: auto;
  }

  .card-info {
    max-width: 340px;
    margin: auto;
    width: 100%;
  }

  .provider-name-label {
    font-size: 15px;
  }
}

@media(max-width:400px) {
  div.card-elements div.card-info {
    flex-wrap: wrap;
    height: unset;
  }
}