.user-detail-main,
.booking-location-main,
.choose-treatments-main,
.choose-providers,
.order-summary-main {
    margin-top: 100px !important;
    position: relative;
}

@media screen and (max-width: 768px) {

    .user_wrapper,
    .choose_providers_wrapper {
        padding: 0 15px;
    }

}

.form-main-titles {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282D41;
    text-align: left;
    position: absolute;
    top: -65px;
    left: 0;
}

@media screen and (max-width: 768px) {
    .form-main-titles {
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
    }
}

.form-main-inner-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #282D41;
    text-align: left;
    /* position: absolute; */
    top: -65px;
    left: 0;
}

/* summary */
.item-price-summary-wrapper {
    margin-top: 32px;
    background-color: #FBF2DD;
    padding: 32px;
}

.product-name-summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #282D41;
}

.product-price-summary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #282D41;
}

.item-price-summary {
    display: flex;
    justify-content: space-between;
}

.total-summary-whole-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sub-total-summary {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.total-label-price {
    display: flex;
    justify-content: space-between;
}

.sub-total-summary-label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #282D41;
}

.sub-total-summary-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #282D41;
}

.total-calculation {
    box-sizing: border-box;
    border-top: 0.8px solid rgba(40, 45, 65, 0.22);
    padding-top: 5px !important;
}

.total-calculation-label,
.total-calculation-price {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #282D41;
}

/* summary till this */

.booking-location-main,
.choose-providers,
.order-summary-main {
    /* margin-top: 61px !important; */
    max-width: 1257px;
    margin: auto;
    background-color: #E3FAFF;
    padding: 25px 0px 33px 25px;
    box-sizing: border-box;
    border-radius: 12px;
}

.user-detail-main {
    max-width: 1257px;
    margin: auto;
    background-color: #E3FAFF;
    padding: 25px 0px 33px 50px;
    box-sizing: border-box;
    border-radius: 12px;
}

.remove-wrapper {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1257px;
    margin: auto;
    padding-top: 32px;
}

.person-to-remove {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #333746;
}

.remove-person-button {
    background-color: transparent;
    border: 1px solid #ff0000;
    color: #ff0000;
    /* padding: 10px 0px !important; */
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none !important;
}

.remove-person-button:hover {
    background-color: #fff4f4;
    border: 1px solid #ff0000;
    /* color: white; */
}

.remove-person-button:active {
    background-color: #ffffff;
    border: 1px solid #ff0000;
}

.order-summary-main {
    padding: unset;
    padding: 33px 50px;
}

.order-summary-main-inner {
    position: relative;
    /* background-color: #FBF2DD; */
    max-width: 1137px;
    width: 100%;
    margin: auto;
}

.order-summary-main {
    background-color: #FFF9EB;
}

.agreement-wrapper-main {
    margin-top: 20px !important;
    max-width: 1257px;
    margin: auto;
    padding: 25px 0px 33px 0px;
    box-sizing: border-box;
    border-radius: 12px;
}

@media screen and (max-width: 768px) {
    .agreement-wrapper-main {
        padding: 25px 10px;
    }
}

.choose-treatments-main {
    max-width: 1257px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 12px;
}

@media screen and (max-width: 900px) {
    .choose-treatments-main {
        padding: 0px 10px;
    }
}

.add-another-person-main {
    margin-top: 10px !important;
    position: relative;
    max-width: 1257px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 25px 0px 33px 0px;
    box-sizing: border-box;
    border-radius: 12px;
}

.add-another-person-main .another-person-info-error .fill-all-fields {
    /* Please fill your information before adding another person. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #AFB1B2 !important;
    margin-bottom: 0px !important;
}

.another-person-info-error {
    position: absolute;
    top: 0;
}

.another-person-info-error {
    display: flex;
    gap: 10px;
}

.add-another-person-button {
    margin-top: 20px;
    padding: 10px 20px;
    width: 250px;
    height: 55px;
    background: #32C0CC;
    border-radius: 5px;
    border: none;
    outline: none !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer !important;
}

.add-another-person-button.btn-disabled {
    background-color: #32bfcc50 !important;
    cursor: not-allowed !important;
}

.add-another-person-button:hover {
    background-color: #3dcbd8;
}

.add-another-person-button:active {
    background-color: #32C0CC;
}

@media (max-width: 900px) {

    .user-detail-main,
    .booking-location-main {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 33px 15px;
        max-width: 90%;
    }

    .remove-wrapper {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 70%;
        margin: auto;
        padding-top: 32px;
    }

}

/* small screen */
@media (max-width: 768px) {

    .user-detail-main,
    .booking-location-main,
    .choose-providers {
        /* padding: 33px 20px; */
        width: 100%;
        max-width: 95%;
        padding: 25px;

    }

    .payment-cards-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
    }

    .add-another-person-main {
        align-items: flex-start;
        padding: 20px 25px;
    }
}

/* credit pay at location wrapper */
/* payment radio inputs */

.payment-cards-wrapper {
    display: flex;
    gap: 32px;
}

.radio-input-wrapper {
    display: flex !important;
    align-items: center;
    justify-content: flex-start;
    background-color: #fff;
    gap: 12px;
    width: 563.5px;
    height: 44px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-left: 25px;
}

@media screen and (max-width: 768px) {
    .radio-input-wrapper {
        width: 100% !important;
        padding: 0px 15px;
    }
}

.payment-radio-input {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: unset !important;
}

.radio-input-label {
    margin-bottom: 0 !important;
    color: #282D41 !important;
}

.payment-radio-input {
    padding: 0 !important;
    appearance: none;
    box-sizing: border-box;
    border: 1px solid rgba(192, 196, 204, 0.47);
    width: 20px;
    border-radius: 10px;
    height: 20px;
    position: relative;
    background-color: white;
}

.payment-radio-input::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(192, 196, 204, 0.47);
    background-color: #32C0CC;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.payment-radio-input:checked::before {
    opacity: 1;
}

/* submit button */

.book-and-pay-btn-wrapper {
    max-width: 1257px;
    margin: auto;
    box-sizing: border-box;
    border-radius: 12px;
}

.book-and-pay-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 40px;
    gap: 10px;
    width: 221.15px;
    background: #32C0CC;
    border-radius: 5px;
    color: #fff;
    outline: none !important;
    border: none !important;
    cursor: pointer !important;
}

.book-and-pay-btn:active {
    transform: scale(0.98);
    background-color: #3cbecc;
}

.book-and-pay-btn.disabled {
    background-color: #32bfcc50 !important;
    cursor: not-allowed !important;
}

@media screen and (max-width: 768px) {
    .book-and-pay-btn-wrapper {
        padding: 0px 10px;
    }
}

.book-and-pay-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 40px;
    gap: 10px;
    width: 221.15px;
    background: #32C0CC;
    border-radius: 5px;
    color: #fff;
    outline: none !important;
    border: none !important;
}

.book-and-pay-btn-disabled {
    background: #3fcad6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 19px 40px;
    gap: 10px;
    width: 221.15px;
    border-radius: 5px;
    color: #fff;
    outline: none !important;
    border: none !important;
}

/* agreement */

.click-agree-reminder-wrapper {
    max-width: 1257px;
    margin: auto;
    display: flex;
    gap: 8px;
}

.agree-to-tos-info {
    font-family: 'Inter';
    font-weight: 400;
    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #AFB1B3 !important;
}

.agreement-description {
    margin-bottom: 0 !important;
}

.autocomplete-dropdown-container {
    color: #000 !important;
    position: absolute;
    z-index: 1;
    width: 563px !important;
}

@media (max-width: 900px) {
    .input-box {
        width: 350px !important;
    }
}