.single-product-page-product-hero-main-wrapper {
  background: #e3faff;
  padding-inline: 162px;
  padding-block: 67px;
  box-sizing: border-box;
}

.single-product-page-product-hero-main-wrapper.service-menu-sing-page-hero-main-wrapper {
  padding-block: 0;
  background: #fff;
}

.product-hero-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  align-items: center;
  /* height: 862px; */
}

.product-hero-wrapper.medical-service-menu {
  grid-template-columns: repeat(1, 1fr);
  height: unset;
}

.product-description-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.image-container {
  /* width: 90%; */
  background: rgb(255, 255, 255);
  background: radial-gradient(circle,
      rgba(255, 255, 255, 1) 37%,
      rgba(2, 0, 36, 0) 60%);
}

.single-product-page-product-hero-main-wrapper section.product-image img {
  scale: 1;
  /* height: 700px; */
}

.image-container.large-hero-image {
  display: block;
}

.image-container.small-hero-image {
  display: none;
}

.image {
  width: 100%;
  height: auto;
}

/* add * before it */
.where-to-book::before {
  content: '*';
  font-size: 20px;
  margin-left: 5px;
}


.booking-page.product-name {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #282d41 !important;
  margin: 0 !important;
  padding-block: 24px;
}

.product-cite {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  color: #5a5f73;
}

.booking-page.product-description {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: left !important;
  margin: 0 !important;
  /* Text/Dark Secondary */
  color: #5a5f73;
}

.product-price-buttons-wrapper {
  display: flex;
  justify-content: flex-start !important;
  align-items: center;
  gap: 99px;
  width: 100% !important;
}

.book-button {
  background-color: #32c0cc;
  padding: 20px 30px;
  color: white;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  width: 190px;
  margin-bottom: 5px !important;
  outline: none !important;
}

.book-button.nad-buttons {
  width: 120px !important;
  padding: 15px 15px;
  color: #282d41;
  background-color: #fff;
}

.book-button.nad-buttons:hover {
  background-color: #f5f5f5;
}

.book-button.nad-buttons:active {
  background-color: #e5e5e5;
}

.book-button:hover {
  background-color: #24b8c5;
}

.book-button:active {
  background-color: #27c1c9;
}

/* tablet size */
@media (max-width: 1220px) {
  .single-product-page-product-hero-main-wrapper {
    padding-inline: unset;
    padding-block: 13px;
    width: 100%;
  }

  .single-product-page-product-hero-main-wrapper section.product-image img {
    scale: 1;
    /* height: 700px; */
  }

  .product-hero-wrapper {
    /* padding-inline: 73px; */
    padding-left: 0px;
    height: 728px;
  }

  .product-hero-wrapper.medical-service-menu {
    height: unset;
  }

  .product-price-buttons-wrapper {
    gap: 50px;
  }

  .product-description-wrapper {
    padding: 0;
    padding-inline: 29px;
  }
}

.where-to-book {
  /* *At our locations */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left !important;
  /* identical to box height */

  color: rgba(90, 95, 115, 0.6);
}

.product-price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: left !important;
  color: #32c0cc;
}

/* Styles for small screens */
@media (max-width: 643px) {

  .product-price {
    text-align: center;
  }

  .single-product-page-product-hero-main-wrapper section.product-image img {
    scale: unset;
    width: 67%;
    height: auto;
  }

  .single-product-page-product-hero-main-wrapper section.product-image {
    max-height: 75%;
  }

  .image-container.large-hero-image {
    display: none;
  }

  .image-container.small-hero-image {
    display: flex;
    justify-content: center;
  }

  .product-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;

    /* Text/Dark Primary */
    color: #282d41;
  }

  .product-hero-wrapper {
    grid-template-columns: repeat(1, 1fr) !important;
    height: 969px;
  }

  .product-hero-wrapper.medical-service-menu {
    height: unset;
  }

  .product-price-buttons-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: unset;
    padding-block: 28px;
  }

  .booking-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px !important;
  }

  .nad-wrapper {
    justify-content: center !important;
  }

  .selected-and-unselected-nad {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .book-button.nad-buttons {
    width: unset !important;
    padding: 15px 15px;
    color: #282d41;
    width: 185px !important;
    background-color: #fff;
  }

  .product-description-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 13px;
    padding-block: 24px;
  }

  .product-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #5a5f73;
    text-align: center;
    margin-bottom: 28px !important;
  }

  .product-hero-wrapper .product-description-wrapper>p>h4 {
    max-width: 437px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    margin-top: 28px !important;
    /* Text/Dark Secondary */
    color: #5a5f73;
  }

  .product-hero-wrapper .product-description-wrapper>p>p {
    max-width: 437px !important;
    font-family: 'Inter' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 12px !important;
    line-height: 150% !important;
    text-align: center !important;
    color: #5a5f73 !important;
  }

  .product-description h4 {
    margin: 10px auto !important;
  }
}

/* style for tablet devices */
@media (min-width: 600px) and (max-width: 1024px) {}