.provider-input-label-wrapper {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 9px 12px;
    max-width: 563px;
    width: 100%;
    height: 44px;
    border: 1px solid rgba(192, 196, 204, 0.47);
    border-radius: 4px;
    outline: none;
    gap: 10px;
}

.provider-name-label {
    color: #5A5F73 !important;
}

.choose_providers_wrapper .choose-providers .provider-group-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1175px;
    width: 100%;
}

.provider-group-wrapper {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 1280px) {
    .provider-input-label-wrapper {
        max-width: 1175px !important;
    }

    .choose_providers_wrapper .choose-providers .provider-group-wrapper {
        flex-wrap: unset;
        max-width: 1175px !important;
    }
}

@media (max-width: 830px) {
    .choose_providers_wrapper .choose-providers .provider-group-wrapper {
        flex-direction: column;
    }

    .bookingDateTime-container-wrapper {
        flex-direction: column;
    }

    .bookingDateTime-container-wrapper .input-box-wrapper {
        max-width: 100% !important;
    }
}

/* media for 475, 457 and 442 */
@media (max-width: 475px) {
    .provider-name-label {
        font-size: 15px;
    }
}

@media (max-width: 457px) {
    .provider-name-label {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .provider-name-label {
        font-size: 12px;
    }
}

@media (max-width:410px) {
    .provider-name-label {
        font-size: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* query for 1160px */
@media (max-width: 1160px) {
    .provider-group-wrapper {
        gap: 32px;
    }
}