.product-section{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    margin-top: 60px !important;
    /* margin-bottom: 7rem !important; */
    margin-left: 5px !important;
    margin-right: 5px !important;

  }
  
.why-rejuve-description{
max-width: 540px !important;
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 16px !important;
line-height: 150% !important;
text-align: center !important;
color: #5A5F73 !important;
}
  
  .product-section-title{
    font-family: Inter !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
    text-align: center !important;
    color: #282D41 !important;
  }
  .product-section-cards{
    width: 100% !important;
    display: flex !important;
    flex-wrap: wrap !important;
    align-content: center !important;
    justify-content: center !important;
    flex-direction: row !important;
    gap: 1rem !important;
  }
  
  .product-section-card{
    width: 400px !important;
    display: flex !important;
    text-align: center !important;
    align-items: center !important;
    flex-direction: column !important;
  }
  
  .product-section-card-h1{
    font-family: Inter !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 2rem !important;
    line-height: 3rem !important;
    text-align: center !important;
    color: #282D41 !important;
    width: 75% !important;
  }

/* book weight loss section */
.iv-therapy-context,.book-weight-loss-metabolic,.returning-customer,.click-to-login{margin:0}
.book-weight-loss-section{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 100px !important;
  gap:16px !important;
  margin-bottom: 100px !important;
}

.book-weight-loss-section > .iv-therapy-top .iv-therapy-context{
max-width: 359px !important;
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 600 !important;
font-size: 20px !important;
line-height: 150% !important;
text-align: center !important;
/* Text/Dark Primary */
color: #282D41 !important;
}

.middle-main .book-weight-loss-metabolic {
max-width: 1218px !important;
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 48px !important;
/* identical to box height, or 58px */
text-align: center !important;
/* Text/Dark Primary */
color: #282D41 !important;
}

.returning-customer-context > .returning-customer {
  /* Returning customer? Click here to login */
max-width: 1218px !important;
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 400 !important;
font-size: 24px !important;
line-height: 150% !important;
/* identical to box height, or 36px */
text-align: center !important;
/* Text/Dark Secondary */
color: #5A5F73 !important ;
}

.click-to-login > a{
font-family: 'Inter' !important;
font-style: normal !important;
font-weight: 700 !important;
font-size: 24px !important;
line-height: 150% !important;
/* identical to box height, or 36px */
text-align: center !important;
/* Main */
color: #32C0CC !important;
text-decoration: none !important ;
}

.returning-customer-context{
  display: flex !important;
  align-items: center !important;
  gap: 5px !important;
}

/* small screen */
@media (max-width: 768px) {
 /* weight-loss-section */
  .product-section{
    max-width: 360px !important ;
    padding:0 12px  !important;
    margin: auto !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

p{
  margin: 0 !important;
}
 .book-weight-loss-section {
  margin-top: 79px !important;
  margin-bottom: 100px !important;
  display: flex;
  flex-direction: column;
  gap: 16px;
 }

 .returning-customer-context{
  flex-direction: column;
 }

  .click-to-login > a{
/* Returning customer? Click here to login. */
max-width: 359px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 150%;
text-align: center;
  }

  .returning-customer-context > .returning-customer {
    /* Returning customer? Click here to login. */
max-width: 359px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
text-align: center;
  }

 .middle-main .book-weight-loss-metabolic {
  /* Book Weight Loss-Metabolic */
max-width: 359px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */
text-align: center;
/* Text/Dark Primary */
color: #282D41 !important;
 }

  .product-section{
    margin: 0 !important;
    padding: auto 120px !important;
  }
    .product-section-card{
        width: 100% !important;
    }
    .product-section-card-h1{
        font-size: 1.2rem !important;
        line-height: unset !important;
    }
    .product-section-title{
        font-size: 1.5rem !important;
    }
    .why-rejuve-description{
        font-size: 1rem !important;
    }
}